
.vs/patientThing/v17/Browse.VC.opendb
.vs/patientThing/v17/Browse.VC.db-wal
.vs/patientThing/v17/Browse.VC.db-shm
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/FileContentIndex/520e07fa-39d7-44a5-9cef-709798bf2855.vsidx
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/v17/ipch/AutoPCH/388e7fc750e0ff91/SURGERY.ipch
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/FileContentIndex/9a9a1bfc-193f-4f69-b499-0c486f0c941c.vsidx
.vs/patientThing/v17/ipch/AutoPCH/388e7fc750e0ff91/SURGERY.ipch
.vs/patientThing/v17/Browse.VC.db
*.ipch
*.db
x64/Debug/patientThing.pdb
x64/Debug/patientThing.pdb
x64/Debug/patientThing.exe
patientThing/x64/Debug/vc143.pdb
patientThing/x64/Debug/vc143.idb
patientThing/x64/Debug/Surgery.obj
patientThing/x64/Debug/Pharmacy.obj
patientThing/x64/Debug/patientThing.tlog/patientThing.lastbuildstate
patientThing/x64/Debug/patientThing.tlog/link.write.1.tlog
patientThing/x64/Debug/patientThing.tlog/link.secondary.1.tlog
patientThing/x64/Debug/patientThing.tlog/link.read.1.tlog
patientThing/x64/Debug/patientThing.tlog/link.command.1.tlog
patientThing/x64/Debug/patientThing.tlog/CL.write.1.tlog
patientThing/x64/Debug/patientThing.tlog/CL.read.1.tlog
patientThing/x64/Debug/patientThing.tlog/Cl.items.tlog
patientThing/x64/Debug/patientThing.tlog/CL.command.1.tlog
patientThing/x64/Debug/patientThing.log
patientThing/x64/Debug/patientThing.ilk
patientThing/x64/Debug/patientThing.exe.recipe
patientThing/x64/Debug/PatientAccount.obj
patientThing/x64/Debug/main.obj
