
.vs/patientThing/v17/Browse.VC.opendb
.vs/patientThing/v17/Browse.VC.db-wal
.vs/patientThing/v17/Browse.VC.db-shm
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/FileContentIndex/520e07fa-39d7-44a5-9cef-709798bf2855.vsidx
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/v17/ipch/AutoPCH/388e7fc750e0ff91/SURGERY.ipch
.vs/patientThing/v17/Browse.VC.db
.vs/patientThing/FileContentIndex/9a9a1bfc-193f-4f69-b499-0c486f0c941c.vsidx
.vs/patientThing/v17/ipch/AutoPCH/388e7fc750e0ff91/SURGERY.ipch
.vs/patientThing/v17/Browse.VC.db
*.ipch
*.db
